* text=auto
* eol=lf

.git                    export-ignore
.gitattributes          export-ignore
.gitignore              export-ignore
test                    export-ignore
tests                   export-ignore
continuous-integration  export-ignore
.phan                   export-ignore
