/vendor/**
/.idea/**
/composer.phar
/continuous-integration/phpstan/tmp/**
/continuous-integration/autotests-coverage-report/**
/continuous-integration/phpunit/.phpunit.cache/**
/continuous-integration/phpcs/phpcs.cacheFile
/tasks/
/continuous-integration/infection/**
