/vendor/**
/.phpunit.result.cache
/.idea/**
/.fleet/**
build/**
/composer.phar
/continuous-integration/phpstan/tmp/**
/continuous-integration/autotests-coverage-report/**
/continuous-integration/phpunit/.phpunit.cache/**
/continuous-integration/phpcs/phpcs.cacheFile
