<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupStaticAttributes="false"
        colors="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="true"
        forceCoversAnnotation="false"
>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="integration">
      <directory>test/integration</directory>
    </testsuite>
  </testsuites>
</phpunit>
